.form{
    width: 100%;
    margin: auto;
    align-items: center;
  }
  
  .nuevaCarpeta__ > input {
    border: none;
    padding: 5px;
    outline-width: 0;
  }
  
  .nuevaCarpeta__form {
    display: flex;
    flex-direction: column;
  }
  .nuevaCarpeta__num {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
    align-items: center;
  }
  .nuevaCarpeta__num > input {
    margin-left: 10px;
    width: 5vw;
    border-radius: 20px;
    padding: 5px;
    outline-width: 0;
    border: 1px solid lightgrey;
  }
  
  .nuevaCarpeta__autos {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .nuevaCarpeta__autos > input {
    margin-left: 10px;
    width: 60vw;
    border-radius: 20px;
    padding: 5px;
    outline-width: 0;
    border: 1px solid lightgrey;
  }
  
  .nuevaCarpeta__select {
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .nuevaCarpeta__select > input {
    margin-left: 5px;
    width: 15vw;
    border-radius: 20px;
    padding: 5px;
    outline-width: 0;
    border: 1px solid lightgrey;
  }
  
  .nuevaCarpeta__select > select {
    margin-left: 5px;
    width: 5vw;
    border-radius: 20px;
    padding: 5px;
    outline-width: 0;
    border: 1px solid lightgrey;
  }
  
  .nuevaCarpeta > button{
      margin-top: 10px;
      justify-content: end;
  }