.sidebar {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.sidebar > button {
  display: flex;
  width: 15vw;
  margin-left: 5px;
  margin-right: 5px;
}

a {
  text-decoration: none !important;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

.sidebar__select{
  outline-width: 0;
  border: none;
  height: 24px;
  background-color: white;
}
